body {
  /**
    Obsidian 外观 by xzz
    https://docs.obsidian.md/Reference/CSS+variables/Foundations/Typography
   */

  /* 自定义栏宽(页面宽度) */
  --file-line-width: calc(102vh);
  
  /* 标题颜色 */
  --h1-color: #4D4D4D;
  --h2-color: #4D4D4D;
  --h3-color: #4D4D4D;
  --h4-color: #4D4D4D;
  --h5-color: #A0522D;
  --h6-color: #1E90FF;
  
  /* 标题字体大小 --font-text-size变量 默认为16px */
  --h1-size: calc(var(--font-text-size) * 1.9);
  --h2-size: calc(var(--font-text-size) * 1.8);
  --h3-size: calc(var(--font-text-size) * 1.6);
  --h4-size: calc(var(--font-text-size) * 1.4);
  --h5-size: calc(var(--font-text-size) * 1.2);
  --h6-size: calc(var(--font-text-size) * 1.1);

  /* 行距 --line-height-normal变量 默认为1.5行距 */
  --h1-line-height: calc(var(--line-height-normal) * 1.3);
  --h2-line-height: calc(var(--line-height-normal) * 1.5);
  --h3-line-height: calc(var(--line-height-normal) * 1.5);
  --h4-line-height: calc(var(--line-height-normal) * 1.5);
  --h5-line-height: calc(var(--line-height-normal) * 1.5);
  --h6-line-height: calc(var(--line-height-normal) * 1.5);
  
  --animation: var(--anim-duration-fast) var(--anim-motion-smooth);
}


:is(div.markdown-reading-view > div > div > div > :is(h1, h2, h3, h4, h5, h6),
.markdown-source-view.mod-cm6.is-live-preview :is(.HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6)) {
  position: relative;
  margin: 0;
}

:is(div.markdown-reading-view > div > div > div > :is(h1, h2, h3, h4, h5, h6),
.markdown-source-view.mod-cm6.is-live-preview :is(.HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6))::before {
  position: absolute;
  border-radius: var(--radius-s);
  z-index: 1;
  padding: 2px 2px 1px 2px;
  font-size: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  letter-spacing: 0.5px;
  font-family: var(--font-interface);
  opacity: 0;
  cursor: pointer;
  transition: var(--animation);
  top: 48%;
  transform: translateY(-50%);
  left: calc(var(--size-4-6) * -1);
}

:is(div.markdown-reading-view > div > div > div > :is(h1, h2, h3, h4, h5, h6),
.markdown-source-view.mod-cm6.is-live-preview :is(.HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6)):hover::before {
  opacity: 0.8;
}

div.markdown-reading-view > div > div > div > :is(h1, h2, h3, h4, h5, h6)::before {
  left: -24px !important;
}

:not(.popup) :is(h1, h2, h3, h4, h5, h6) {
  margin: calc(var(--font-text-size) / 4) 0;
}

:is(div.markdown-reading-view > div > div > div > h1,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-1)::before {
  border: 2px solid var(--h1-color);
  content: "H1";
  color: var(--header-indicator-color-h1);
  background-color: var(--header-indicator-bg-h1);
}

:is(div.markdown-reading-view > div > div > div > h2,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-2)::before {
  border: 2px solid var(--h2-color);
  content: "H2";
  color: var(--header-indicator-color-h2);
  background-color: var(--header-indicator-bg-h2);
}

:is(div.markdown-reading-view > div > div > div > h3,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-3)::before {
  border: 2px solid var(--h3-color);
  content: "H3";
  color: var(--header-indicator-color-h3);
  background-color: var(--header-indicator-bg-h3);
}

:is(div.markdown-reading-view > div > div > div > h4,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-4)::before {
  border: 2px solid var(--h4-color);
  content: "H4";
  color: var(--header-indicator-color-h4);
  background-color: var(--header-indicator-bg-h4);
}

:is(div.markdown-reading-view > div > div > div > h5,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-5)::before {
  border: 2px solid var(--h5-color);
  content: "H5";
  color: var(--header-indicator-color-h5);
  background-color: var(--header-indicator-bg-h5);
}

:is(div.markdown-reading-view > div > div > div > h6,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-6)::before {
  border: 2px solid var(--h6-color);
  content: "H6";
  color: var(--header-indicator-color-h6);
  background-color: var(--header-indicator-bg-h6);
}

p {
  margin: var(--size-4-1) 0;
}